@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!!!</h1>
    <p>This Company Scenario Web App was built using  <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
    <p>Login or Register to explore further: </p>
    <table class="table">
        <tr>
            <td><a class="btn btn-primary" href="/home/register">Register</a></td>
            <td><a class="btn btn-primary" href="/auth/login">Login</a></td>
        </tr>
    </table>
</div>
