@model Product
  <html>
    <body>
        <form action="/product/addproduct" method="post">
        ID:<input type="text" id="id" name="id" />
            Name:<input type="text" id="name" name="name" />
        Description:<input type="text" id="description" name="description" />
        Quantity:<input type="text" id="quantity" name="quantity" />
        Price:<input type="text" id="price" name="price" />
        Category:<input type="text" id="ProductCategory" name="ProductCategory" />
        <button type="submit" id="btn" name="btn" value="add">Add</button>
        </form>
    </body>
</html>
