<html>
    <body>
        <form action="/product/addproduct" method="post">
            Name:<input type="text" id="pname" name="pname" />
        Description:<input type="text" id="desc" name="desc" />
        Quantity:<input type="text" id="qty" name="qty" />
        Price:<input type="text" id="price" name="price" />
        <button type="submit" id="btn" name="btn" value="add">Add</button>
        </form>
    </body>
</html>
