@using BOL;
@{
    List<BOL.Product> products = ViewData["products"] as List<BOL.Product>;
}
<h1>List:</h1>
@foreach (BOL.Product prod in products)
{
    <tr>
        <th scope="row">@prod.Id</th>
        <td><a href="product/get/@prod.Id">@prod.Name</a></td>
        
    </tr>
}