#heading{
    width: 100%;
    height: 5.5em;
    /* border: 1px solid black; */

}

iframe{
    border: 1px solid black;
}

#assignments-frame,#display-frame{
    height: 40rem;
}

#display-frame{
    width: 75%;
}